{% extends 'mypf/base.html' %}

{% block content %}
    <div class="container-fluid" style="background: url(https://miro.medium.com/max/700/1*NW5Hhpv4Gckxynr5U-MZwA.jpeg); padding: 100px;" >
        <div class="row justify-content-center margin">
            <div class="col-7">
                <!--Custom Api form-->
            </div>
        </div>
        <div class="row justify-content-center margin">
            <div class="pflink">
                <a href="{% url 'portfolio' %}">Check Portfolio</a>
            </div>
        </div>
        <div class="row justify-content-center margin">
            <div class="col-8">
                <br>


            </div>
        </div>
    </div>
{% endblock %}