{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/icon1.png" alt="" width="300" height="300">
		<h1 class="text-uppercase mb-0">Raphael Nyangenya</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Fullstack Software Dev - Python - Django</h2>
	  </div>
	</header>

	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Portfolio</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card" style="background-color: grey;">
				  <div class="card-body">
					<h5 class="card-title">Delani Studio</h5>
					<p class="card-text">Recreation of the Delani studio static website</p>
					<a href="https://github.com/rmautia/delanistudio" class="btn btn-success">View Project</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card" style="background-color: grey;">
				  <div class="card-body">
					<h5 class="card-title">Gallery</h5>
					<p class="card-text">Personal Gallery Website </p>
					<a href="https://github.com/rmautia/gallery" class="btn btn-success">View Project</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card" style="background-color: grey;">
				  <div class="card-body">
					<h5 class="card-title">Insta Clone</h5>
					<p class="card-text">This is a clone of the popular social media website "Instagram"</p>
					<a href="https://github.com/rmautia/Instaapp" class="btn btn-success">View Project</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card" style="background-color: grey;">
				  <div class="card-body">
					<h5 class="card-title">Pitch Application</h5>
					<p class="card-text">An application that allows User to prepare for pitching</p>
					<a href="https://github.com/rmautia/pitch.er" class="btn btn-success">View Project</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1" style="background-color: grey;">
			<p class="lead">I'm a Fullstack web developer working on Python 3.x, Using Django 3.x for Web Development. With additional skills in Angular & Flask frameworks </p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2" style="background-color: grey;">
			<p class="lead">Also having knowledge of HTML, CSS, Javascript, Ajax, Bootstrap, GIT.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" style="background-color: darkorange;" href="/static/mypf/files/cv.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}